<div class="modal-container">
  <h2>{{ data?.id ? "Редактировать запись" : "Создать запись" }}</h2>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field appearance="fill">
      <mat-label>Клиент</mat-label>
      <mat-select formControlName="clientId">
        <mat-option *ngFor="let client of clients" [value]="client.id">
          {{ client.firstName }} {{ client.lastName }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="form.get('clientId')?.invalid && form.get('clientId')?.touched"
      >
        Клиент обязателен
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Услуга</mat-label>
      <mat-select formControlName="serviceId">
        <mat-option *ngFor="let service of services" [value]="service.id">
          {{ service.name }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="form.get('serviceId')?.invalid && form.get('serviceId')?.touched"
      >
        Услуга обязательна
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Мастер</mat-label>
      <mat-select formControlName="masterId">
        <mat-option *ngFor="let master of masters" [value]="master.id">
          {{ master.firstName }} {{ master.lastName }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="form.get('masterId')?.invalid && form.get('masterId')?.touched"
      >
        Мастер обязателен
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Офис</mat-label>
      <mat-select formControlName="officeId">
        <mat-option *ngFor="let office of offices" [value]="office.id">
          {{ office.number }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="form.get('officeId')?.invalid && form.get('officeId')?.touched"
      >
        Офис обязателен
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Кабинет</mat-label>
      <mat-select formControlName="cabinetId">
        <mat-option *ngFor="let cabinet of cabinets" [value]="cabinet.id">
          {{ cabinet.number }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="form.get('cabinetId')?.invalid && form.get('cabinetId')?.touched"
      >
        Кабинет обязателен
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Дата и время</mat-label>
      <input matInput type="datetime-local" formControlName="dateTime" />
      <mat-error
        *ngIf="form.get('dateTime')?.invalid && form.get('dateTime')?.touched"
      >
        Дата и время обязательны
      </mat-error>
    </mat-form-field>

    <div *ngIf="data?.id" class="read-only-fields">
      <mat-form-field appearance="fill" disabled>
        <mat-label>Оценка</mat-label>
        <input matInput [value]="data.grade || 'Нет оценки'" readonly />
      </mat-form-field>

      <mat-form-field appearance="fill" disabled>
        <mat-label>Комментарий</mat-label>
        <textarea
          matInput
          [value]="data.comment || 'Комментарий отсутствует'"
          readonly
        ></textarea>
      </mat-form-field>
    </div>

    <div class="actions">
      <button mat-raised-button color="primary" type="submit">
        {{ data?.id ? "Обновить" : "Создать" }}
      </button>
      <button mat-button color="warn" type="button" (click)="cancel()">
        Отмена
      </button>
    </div>
  </form>
</div>
