<div class="user-page">
  <header class="user-page__header">
    <h1 class="user-page__title">Профиль пользователя</h1>
  </header>

  <div class="user-page__content">
    <div class="user-page__columns">
      <section class="user-page__section user-page__info">
        @if(user){
        <div class="user-page__info-card">
          <h2 class="user-page__sub-title">Основная информация</h2>
          <p>
            <strong>ФИО:</strong> {{ user.user.firstName }}
            {{ user.user.lastName }} {{ user.user.middleName }}
          </p>
          <p>
            <strong>Дата рождения:</strong> {{ user.user.birthDate | date }}
          </p>
          <p><strong>Email:</strong> {{ user.user.email }}</p>
          <p><strong>Логин:</strong> {{ user.user.login }}</p>
          <p><strong>Отдел:</strong> {{ user.user.department }}</p>
          <p><strong>Роль:</strong> {{ user.userRole.name }}</p>
          <p>
            <strong>Дата создания:</strong> {{ user.user.createdAt | date }}
          </p>
          <p>
            <strong>Дата обновления:</strong> {{ user.user.updatedAt | date }}
          </p>
          <h3 class="user-page__sub-title">Направления</h3>
          <ul>
            <!-- <li *ngFor="let direction of user.user.directions">{{ direction }}</li> -->
          </ul>

          <button class="user-page__edit-button" (click)="onEdit()">
            Редактировать
          </button>
        </div>
        }
      </section>

      <section class="user-page__section user-page__right">
        <div class="user-page__right-card">
          <h2 class="user-page__sub-title">Календарь</h2>
          <mat-calendar [dateClass]="dateClass"></mat-calendar>
        </div>

        <div class="user-page__right-card">
          <h2 class="user-page__sub-title">Заработок</h2>
          <div class="user-page__chart-container">
            <canvas id="salaryChart"></canvas>
          </div>
        </div>

        <div class="user-page__working-hours">
          <h3>Время работы:</h3>
          <p>{{ getWorkHours() }}</p>
        </div>
      </section>
    </div>
  </div>
</div>
