<div class="page-container">
    <div class="sidebar">
      <button [routerLink]="[ERoutesConstans.USER_LIST]" type="button" class="nav-button">
        Список Услуг
      </button>
      <button [routerLink]="[ERoutesConstans.USER_DEPARTMENT]" type="button" class="nav-button">
        Список Товаров на складе
      </button>
      <button [routerLink]="[ERoutesConstans.USER_ROLE]" type="button" class="nav-button">
        Список Товаров для продажи
      </button>
    </div>
    <div class="router-outlet-container">
      <router-outlet></router-outlet>
    </div>
  </div>
  