header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b09e86; 
    padding: 15px 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    color: #fff; 
    border-bottom: 3px solid #8db662; 
}

header button {
    background-color: #8db662; /* Основной цвет кнопок */
    color: white;
    border: none;
    padding: 12px 20px;
    margin: 0 15px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

header button:hover {
    background-color: #b6cb6a; 
    transform: scale(1.05);
}

header button:active {
    transform: scale(0.98);
}

header button:last-child {
    background-color: #b7c36c; 
}

header button:last-child:hover {
    background-color: #d6e5d5; 
}

header button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(182, 203, 106, 0.8); 
}
