<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" mode="side">
    <mat-toolbar>
      <span>DORM CRM</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/', ERoutesConstans.MAIN, ERoutesConstans.HOME_PAGE]">Главная</a>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Персонал</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="['/', ERoutesConstans.MAIN, ERoutesConstans.USER_PANEL, ERoutesConstans.USER_LIST]">Список пользователей</a>
          <a mat-list-item [routerLink]="['/', ERoutesConstans.MAIN, ERoutesConstans.USER_PANEL, ERoutesConstans.USER_DEPARTMENT]">Список направлений</a>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Офисы</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="['/', ERoutesConstans.MAIN, ERoutesConstans.OFFICE_PANEL, ERoutesConstans.OFFICE_LIST]">Список офисов</a>
          <a mat-list-item [routerLink]="['/', ERoutesConstans.MAIN, ERoutesConstans.OFFICE_PANEL, ERoutesConstans.CABINET_PANEL]">Список кабинетов</a>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Клиенты</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="['/', ERoutesConstans.MAIN, ERoutesConstans.CLIENT_PANEL, ERoutesConstans.CLIENT_LIST]">Список клиентов</a>
          <a mat-list-item [routerLink]="['/', ERoutesConstans.MAIN, ERoutesConstans.CLIENT_PANEL, ERoutesConstans.CLIENT_ORDER]">Список сегодняшних записей</a>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Услуги</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="['/', ERoutesConstans.MAIN, ERoutesConstans.SERVICES_PANEL, ERoutesConstans.SERVICE_LIST]">Список услуг</a>
          <a mat-list-item [routerLink]="['/', ERoutesConstans.MAIN, ERoutesConstans.SERVICES_PANEL, ERoutesConstans.SERVICE_USER]">Связи услуг и Работников</a>
          <a mat-list-item [routerLink]="['/', ERoutesConstans.MAIN, ERoutesConstans.SERVICES_PANEL, ERoutesConstans.SERVICE_PRODUCT]">Список товаров</a>
          <a mat-list-item [routerLink]="['/', ERoutesConstans.MAIN, ERoutesConstans.SERVICES_PANEL, ERoutesConstans.SERVICE_PRODUCT_SALE]">Список товаров на продажу</a>
        </mat-nav-list>
      </mat-expansion-panel>

      <a mat-list-item [routerLink]="['/', ERoutesConstans.MAIN, ERoutesConstans.ADMIN_PANEL]">Статистика</a>
      <a mat-list-item [routerLink]="['/', ERoutesConstans.MAIN, ERoutesConstans.ADMIN_STATISTICS]">Записи</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>DORM CRM</span> <span class="spacer"></span>
      <span *ngIf="userName" class="toolbar-user-info">
        {{ userName }}
        <button mat-icon-button [matMenuTriggerFor]="userMenu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item [routerLink]="['/', ERoutesConstans.MAIN, ERoutesConstans.USER_PANEL]">Личный кабинет</button>
          <button mat-menu-item (click)="onClickLogOut()">Выход</button>
        </mat-menu>
      </span>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>