<div class="page-container">
  <div class="sidebar">
    <button [routerLink]="[ERoutesConstans.OFFICE_LIST]" type="button" class="nav-button">
      Список офисов
    </button>
    <button [routerLink]="[ERoutesConstans.CABINET_PANEL]" type="button" class="nav-button">
      Список Кабинетов
    </button>
    <button [routerLink]="[ERoutesConstans.USER_ROLE]" type="button" class="nav-button">
      Список
    </button>
  </div>
  <div class="router-outlet-container">
    <router-outlet></router-outlet>
  </div>
</div>
