<div class="modal-container">
    <h2>Создать/Редактировать пользователя</h2>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-row">
        <mat-form-field appearance="fill">
          <mat-label>Имя</mat-label>
          <input matInput formControlName="firstName" />
          @if (form.controls.name.invalid &&
          form.controls['name'].touched){
          <mat-error> Имя обязательно </mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Отчество</mat-label>
          <input matInput formControlName="description" />
        </mat-form-field>
      </div>
      
      <div class="actions">
        <button mat-raised-button color="primary" type="submit" (click)="onClickCreateDepartment()">Сохранить</button>
        <button mat-button color="warn" (click)="onClickClose()">Отмена</button>
      </div>
    </form>
  </div>