<div class="modal-container">
  <h2>Создать/Редактировать профессию</h2>

  <form [formGroup]="form" class="form-row">
    <mat-form-field appearance="fill">
      <mat-label>Название профессии</mat-label>
      <input
        matInput
        formControlName="name"
        placeholder="Введите название профессии"
      />
      @if(form.controls.name.hasError('required')){
      <mat-error> Название обязательно </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Описание профессии</mat-label>
      <textarea
        matInput
        formControlName="description"
        placeholder="Введите описание профессии"
      ></textarea>
      @if(form.controls.description.hasError('required')){
      <mat-error> Описание обязательно </mat-error>
      }
    </mat-form-field>
  </form>

  <div class="actions">
    <button
      mat-button
      type="button"
      class="cancel-button"
      (click)="onClickClose()"
    >
      Отмена
    </button>
    <button
      mat-raised-button
      type="submit"
      class="create-button"
      (click)="onClickCreateDepartment()"
      [disabled]="form.invalid"
    >
      Создать
    </button>
  </div>
</div>
