<div class="order-card">
  <mat-card class="card">
    <mat-card-header class="card-header">
      <mat-card-title>Запись</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-body">
      <div class="row">
        <p><strong>Клиент:</strong> {{ fullName }}</p>
        <p><strong>Мастер:</strong> {{ master }}</p>
      </div>
      <div class="row">
        <p><strong>Услуга:</strong> {{ service }}</p>
        <p><strong>Цена:</strong> {{ price }} ₽</p>
      </div>
      <div class="row">
        <p>
          <strong>Дата и время:</strong>
          {{ dateTime | date : "dd.MM.yyyy HH:mm" }}
        </p>
        <p><strong>Кабинет:</strong> {{ office }}</p>
      </div>
      <div class="row">
        <p><strong>Оценка:</strong> {{ grade }}</p>
        <p><strong>Комментарий:</strong> {{ comment }}</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
