<div class="records-container">
  <button mat-raised-button color="primary" (click)="onClickCreate()">
    Создать запись
  </button>

  <div class="content">
    <app-order-card
      *ngFor="let record of records$ | async"
      [fullName]="(record.client?.lastName || '') + ' ' + (record.client?.firstName || '') + ' ' + (record.client?.middleName || '')"
      [master]="(record.master?.lastName || '') + ' ' + (record.master?.firstName || '') + ' ' + (record.master?.middleName || '')"
      [service]="record.service?.name || ''"
      [price]="record.service?.price || 0"
      [dateTime]="record.date"
      [office]="record.office?.number || ''"
      (click)="onClickEdit(record)"
    ></app-order-card>
  </div>
</div>