// /* You can add global styles to this file, and also import other style files */

// html,
// body {
//   height: 100%;
// }
// body {
//   margin: 0;
//   font-family: Roboto, "Helvetica Neue", sans-serif;
// }


// Основные цвета
$primary-color: #3f51b5;
$secondary-color: #ff9800;
$background-color: 	#FFFFFF;
$text-color: #212121;
$accent-color: #4caf50;
$error-color: #d50000;
